{% extends 'layouts/base.html' %}

{% block title %}{{ localized.SCREEN_2FA_ENROLL }}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-grow">
  <div class="card card-auth card-enroll">
    <form action="{{ url_for('pages.enroll') }}" class="card-body flex flex-col" method="post">
      {{ form.csrf_token }}
      <div class="text-center mb-5">
        <h3>
          {{ localized.SCREEN_2FA_ENROLL }}
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            {{ _("Give a name to the factor to be registered.") }}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="code">
          {{ localized.FORM_LABEL_FACTOR_NAME }}
        </label>
        <input class="form-control {{ is_invalid(form.friendly_name.errors) }}" name="friendly_name" placeholder="{{ localized.PLACEHOLDER_FACTOR_NAME }}" autocomplete="off" type="text" id="friendly_name" value="{{ form.friendly_name.data }}" tabindex="1">
        {% for error in form.friendly_name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <button type="submit" name="enroll" class="btn btn-primary flex justify-center mt-5" value="1" tabindex="2">
        {{ localized.FORM_LABEL_ENROLL }}
      </button>
    </form>
  </div>
</div>
{% endblock content %}