{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}SIGN IN{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<div class="flex items-center justify-center grow">
  <div class="card card-signin">
    <form action="#" class="card-body flex flex-col" method="get">
      <div class="text-center">
        <h3>
          Sign in
        </h3>
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            Don't have an account?
          </span>
          <a class="text-sm link ml-1" href="{{ url_for('pages.signup') }}">
            Sign up
          </a>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">
          Email
        </label>
        <input class="form-control" name="email" placeholder="email@example.com" type="text" id="email" value="">
      </div>
      <div class="form-group">
        <div class="flex items-center justify-between gap-1">
          <label class="form-label">
            Password
          </label>
          <a class="text-sm link flex-shrink-0" href="{{ url_for('pages.reset_password') }}">
            Forgot Password?
          </a>
        </div>
        <input class="form-control" name="password" placeholder="Enter Password" type="password" id="password" value="">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" name="check" type="checkbox" id="remember_me" value="1">
          <label class="form-check-label" for="remember_me">
            Remember me
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary flex justify-center grow mt-2">
        Sign In
      </button>
    </form>
  </div>
</div>
{% endblock content %}