{% extends 'layouts/base.html' %}

{% block title %}{{ localized.SCREEN_SIGNIN }}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-grow">
  <div class="card card-auth card-signin">
    <form action="{{ url_for('pages.signin') }}" class="card-body flex flex-col" method="post">
      {{ form.csrf_token }}
      <div class="text-center mb-5">
        <h3>
          {{ localized.SCREEN_SIGNIN }}
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex flex-col items-center justify-center">
          <span class="text-sm text-gray-6">
            {{ _("Don't have an account?") }}
            <a class="text-sm link" href="{{ url_for('pages.signup') }}" tabindex="5">
              {{ localized.FORM_LABEL_SIGNUP }}
            </a>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">
          {{ localized.FORM_LABEL_EMAIL }}
        </label>
        <input class="form-control {{ is_invalid(form.email.errors) }}" name="email" placeholder="{{ localized.PLACEHOLDER_EMAIL }}" autocomplete="email" type="text" id="email" value="{{ form.email.data }}" inputmode="email" tabindex="1">
        {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <div class="flex items-center justify-between">
          <label class="form-label" for="password">
            {{ localized.FORM_LABEL_PASSWORD }}
          </label>
          <a class="text-sm link flex-shrink-0" href="{{ url_for('pages.reset_password') }}" tabindex="6">
            {{ localized.FORM_LABEL_FORGOT_PASSWORD }}
          </a>
        </div>
        <input class="form-control {{ is_invalid(form.password.errors) }}" name="password" placeholder="{{ localized.PLACEHOLDER_PASSWORD }}" autocomplete="current-password" type="password" id="password" value="{{ form.password.data }}" tabindex="2">
        {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" name="remember_me" type="checkbox" id="remember_me" value="true" tabindex="3" {{ is_checked(form.remember_me.data) }}>
          <label class="form-check-label" for="remember_me">
            {{ localized.FORM_LABEL_REMEMBER_ME }}
          </label>
        </div>
      </div>
      <button type="submit" name="signin" class="btn btn-primary flex justify-center mt-5" value="1" tabindex="4">
        {{ localized.FORM_LABEL_SIGNIN }}
      </button>
    </form>
  </div>
</div>
{% endblock content %}