{% extends 'layouts/base.html' %}

{% block header %}
<h1>{% block title %}SIGN UP{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<div class="flex items-center justify-center grow">
  <div class="card card-signup">
    <form action="#" class="card-body flex flex-col" method="get">
      <div class="text-center">
        <h3>
          Sign up
        </h3>
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            Already have an account?
          </span>
          <a class="text-sm link ml-1" href="{{ url_for('pages.signin') }}">
            Sign in
          </a>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">
          Email
        </label>
        <input class="form-control" name="email" placeholder="email@example.com" type="text" id="email" value="">
      </div>
      <div class="form-group">
        <label class="form-label">
          Password
        </label>
        <input class="form-control" name="password" placeholder="Enter Password" type="password" id="password" value="">
      </div>
      <div class="form-group">
        <label class="form-label">
          Confirm Password
        </label>
        <input class="form-control" name="password2" placeholder="Re-enter Password" type="password" id="password2" value="">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" name="check" type="checkbox" id="remember_me" value="1">
          <label class="form-check-label" for="remember_me">
            I accept <a class="link" href="#">Terms & Conditions</a>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary flex justify-center grow mt-2">
        Sign up
      </button>
    </form>
  </div>
</div>
{% endblock content %}