{% extends 'layouts/base.html' %}

{% block header %}
<h1>{% block title %}VERIFY{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<div class="flex items-center justify-center grow">
  <div class="card card-verify">
    <form action="{{ url_for('pages.verify') }}" class="card-body flex flex-col" method="post">
      <div class="text-center mb-5">
        <h3>
          Verification
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            Please enter the code from your authenticator app.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">
          Factor
        </label>
        {% for option in form.factor %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="factor" id="{{ option.id }}" value="{{ option.data }}" {{ is_checked(form.factor.data == option.data) }} tabindex="1">
          <label class="form-check-label" for="{{ option.id }}">
            {{ option.label.text }}
          </label>
        </div>
        {% endfor %}
        {% for error in form.factor.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label class="form-label" for="code">
          Verification code
        </label>
        <input class="form-control {{ is_invalid(form.code.errors) }}" name="code" autocomplete="off" type="text" id="code" value="{{ form.code.data }}" inputmode="numeric" tabindex="2">
        {% for error in form.code.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="text-center">
        <div class="text-sm text-gray-6">
          Can't use your Authenticator app? Contact support.
        </div>
      </div>
      <button type="submit" name="verify" class="btn btn-primary flex justify-center grow mt-5" value="1" tabindex="3">
        Verify
      </button>
    </form>
  </div>
</div>
{% endblock content %}