{% extends 'layouts/base.html' %}

{% block title %}{{ localized.SCREEN_2FA_ENROLL_VERIFY }}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-grow">
  <div class="card card-auth card-enroll-verify">
    <form action="{{ url_for('auth.enroll_verify') }}" class="card-body flex flex-col" method="post">
      {{ form.csrf_token }}
      <div class="text-center mb-5">
        <h3>
          {{ localized.SCREEN_2FA_ENROLL_VERIFY }}
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex flex-col items-center justify-center">
          <span class="text-sm text-gray-6">
            {{ _("Scan the QR code with your authenticator app.") }}
          </span>
          <img src="{{ view.qr_code }}" alt="{{ view.uri }}" layout="fill">
          <span class="text-sm text-gray-6">
            {{ _("Please enter the code from your authenticator app.") }}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="code">
          {{ localized.FORM_LABEL_VERIFICATION_CODE }}
        </label>
        <input class="form-control {{ is_invalid(form.code.errors) }}" name="code" autocomplete="off" type="text" id="code" value="{{ form.code.data }}" inputmode="numeric" tabindex="1">
        {% for error in form.code.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <button type="submit" name="verify" class="btn btn-primary flex justify-center mt-5" value="1" tabindex="2">
        {{ localized.FORM_LABEL_VERIFY }}
      </button>
    </form>
  </div>
</div>
{% endblock content %}