{% extends 'layouts/base.html' %}

{% block title %}{{ localized.SCREEN_RESET_PASSWORD }}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-grow">
  <div class="card card-auth card-reset-password">
    <form action="{{ url_for('auth.reset_password') }}" class="card-body flex flex-col" method="post">
      {{ form.csrf_token }}
      <div class="text-center mb-5">
        <h3>
          {{ localized.SCREEN_RESET_PASSWORD }}
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            {{ _("Enter your email to reset password.") }}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="email">
          {{ localized.FORM_LABEL_EMAIL }}
        </label>
        <input class="form-control {{ is_invalid(form.email.errors) }}" name="email" placeholder="{{ localized.PLACEHOLDER_EMAIL }}" autocomplete="email" type="text" id="email" value="{{ form.email.data }}" inputmode="email" tabindex="1">
        {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <button type="submit" name="submit" class="btn btn-primary flex justify-center mt-5" value="1" tabindex="2">
        {{ localized.FORM_LABEL_SUBMIT }}
      </button>
    </form>
  </div>
</div>
{% endblock content %}