{% extends 'layouts/base.html' %}

{% block title %}{{ localized.SCREEN_UPDATE_PASSWORD }}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center flex-grow">
  <div class="card card-auth card-update-password">
    <form action="{{ url_for('auth.update_password') }}" class="card-body flex flex-col" method="post">
      {{ form.csrf_token }}
      {{ form.token_hash }}
      <div class="text-center mb-5">
        <h3>
          {{ localized.SCREEN_UPDATE_PASSWORD }}
        </h3>
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}{% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}{% endif %}{% endwith %}
        <div class="flex items-center justify-center">
          <span class="text-sm text-gray-6">
            {{ _("Enter your new password.") }}
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="password">
          {{ localized.FORM_LABEL_PASSWORD }}
        </label>
        <input class="form-control {{ is_invalid(form.password.errors) }}" name="password" placeholder="{{ localized.PLACEHOLDER_PASSWORD }}" autocomplete="new-password" type="password" id="password" value="{{ form.password.data }}" tabindex="2">
        {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label class="form-label" for="confirm_password">
          {{ localized.FORM_LABEL_CONFIRM_PASSWORD }}
        </label>
        <input class="form-control {{ is_invalid(form.confirm_password.errors) }}" name="confirm_password" placeholder="{{ localized.PLACEHOLDER_CONFIRM_PASSWORD }}" type="password" id="confirm_password" value="{{ form.confirm_password.data }}" tabindex="3">
        {% for error in form.confirm_password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <button type="submit" name="submit" class="btn btn-primary flex justify-center mt-5" value="1" tabindex="5">
        {{ localized.FORM_LABEL_SUBMIT }}
      </button>
    </form>
  </div>
</div>
{% endblock content %}