<nav>
  <ul class="navbar">
    <li class="nav-item {{ is_active(request.path == url_for('pages.root') or request.path == url_for('pages.home')) }}">
      <a class="nav-link" href="{{ url_for('pages.home') }}">Home</a>
    </li>
    <li class="nav-item {{ is_active(request.path == url_for('pages.about')) }}">
      <a class="nav-link" href="{{ url_for('pages.about') }}">About</a>
    </li>
    <li class="nav-item {{ is_active(request.path == url_for('pages.forms')) }}">
      <a class="nav-link" href="{{ url_for('pages.forms') }}">Forms</a>
    </li>
    <li class="nav-item {{ is_active(request.path == url_for('pages.signin')) }}">
      <a class="nav-link" href="{{ url_for('pages.signin') }}">Sign in</a>
    </li>
    <li class="nav-item {{ is_active(request.path == url_for('pages.signup')) }}">
      <a class="nav-link" href="{{ url_for('pages.signup') }}">Sign up</a>
    </li>
  </ul>
</nav>
