:root {
    --heading-font-family: 
        "Helvetica Neue", "Segoe UI", Roboto,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDGothic", Meiryo, sans-serif;
    --font-family: 
        "Helvetica Neue", "Segoe UI", Roboto,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDGothic", Meiryo, sans-serif;
}

body {
    font-family: var(--font-family);
}

* {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}